/*HTML Horizonal Legend*/
.country-name {
    margin: 0 !important;
}
.key-dot {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;

}

#legend{
    overflow:hidden;
}
.legend {
    float:left;
    margin-right: 1em;
}



.field1{ background: #0579B0;}
.field2 { background: #ACC8E6}
.field3 { background: #FF8031;}
.field4 { background: #FFBA80;}
.field5 { background: #2C9C3A;}
.field6 { background: #98DC90;}
.field7 { background: #D93132;}
.field8 { background: #FF9A98;}
.field9 { background: #936DB9;}
.field10 { background: #C5B2D3;}
.field11 { background: #8D564D;}
.field12 { background: #C59C95;}
